.container-fluid	
	.row.header
		.col-md-6.roles
			- @roles.each do |role|
				.col-md-2
					%h4= role.name
					%div= select_tag role.name, options_from_collection_for_select(@users, "id", "name")
		.col-md-2.mood
			%h4 My Mood
			= select_tag @moods.name, options_from_collection_for_select(@moods, "id", "name")
		.col-md-3.user
			%h4= @user.name
			- if @user.photo.present?
				%div= image_tag @user.photo, style: 'width: 50px; height: 50px'
			- else
				"No photo"
		.col-md-1.exit
			%h4= link_to "Exit", exit_path
	.row.main
		.col-md-4.sidebar1
			%h3.heading Mood Board
			.row
				.col-md-3.green
				.col-md-9.peoplegreen.block
					Thorsten
					Melanie
					Christine
			.row
				.col-md-3.yellow
				.col-md-9.peopleyellow.block
					Thorsten
					Melanie
					Christine
			.row
				.col-md-3.red
				.col-md-9.peoplered.block
					Thorsten
					Melanie
					Christine
		.col-md-8.body1
			%h3.heading To Do
			%table.table.table-striped
				.table-responsive
					%thead
						%tr
							%th Title
							%th Desctiption
							%th Status
							%th Due Date
							%th Asignees
					%tbody
						- @todos.each do |todo|
							%tr
								%td= todo.title
								%td= todo.description
								%td= todo.status
								%td= todo.due_date
								%td= todo.image
			%div.new= link_to "New To Do", new_todo_path
			%div.new= link_to "Edit To Do", todos_path
	.row.main2
		.col-md-4.sidebar2
			%h3.heading Successes & Failures
			%div.inline
				%h4 Success
				%p Hit 5000 Sales
			%div.inline
				%h4 Success
				%p CSAT up 15%
			%div.inline
				%h4 Failure
				%p Mailing failed
			%div.new= link_to "New Post", new_category_post_path(category_id: 2)
			%div.new= link_to "Edit Post", category_posts_path(category_id: 3)
		.col-md-8.body2
			%h3.heading Important Updates
			%div.inline
				%h4 Update1
				%p Hit 5000 Sales
			%div.inline
				%h4 Update2
				%p CSAT up 15%
			%div.inline
				%h4 Update3
				%p Mailing failed
			%div.new= link_to "New Post", new_category_post_path(category_id: 3)
			%div.new= link_to "Edit Post", category_posts_path(category_id: 3)
	.row.main3
		.col-md-4.sidebar3
			%h3.heading Impulse
			%div.inline
				%p "Tiefgängiges Zitat"
			%div.inline
				%p "Lebensweisheit"
			%div.new= link_to "New Post", new_category_post_path(category_id: 4)
			%div.new= link_to "Edit Post", category_posts_path(category_id: 3)
		.col-md-8.body3
			%h3.heading Meetings and Events
			%table.table.table-striped
				.table-responsive
					%thead
						%tr
							%th Title
							%th Desctiption
							%th When
							%th WHO
					%tbody
						%tr
							%td Event1
							%td Important meeting
							%td 12/05/12
							%td Fabio
						%tr
							%td Event2
							%td Cool conference
							%td 12/05/12
							%td Fabio
			%div.new= link_to "New Post", new_category_post_path(category_id: 5)

