.container-fluid	
	.row.header
		.col-md-6.roles
			- @roles.each do |role|
				.col-md-2
					%h4= role.name
					%div= select_tag role.name, options_from_collection_for_select(@users, "id", "name")
		.col-md-2.mood
			%h4 My Mood
			= select_tag @moods.name, options_from_collection_for_select(@moods, "id", "name")
		.col-md-3.user
			%h4= @user.name
			- if @user.photo.present?
				%div= image_tag @user.photo, style: 'width: 50px; height: 50px'
			- else
				"No photo"
		.col-md-1.exit
			%h4= link_to "Exit", exit_path
	.row.main
		.col-md-4.sidebar1
			%h3.heading Mood Board
			.row
				.col-md-3.green
				.col-md-9.peoplegreen.block
					Thorsten
					Melanie
					Christine
			.row
				.col-md-3.yellow
				.col-md-9.peopleyellow.block
					Thorsten
					Melanie
					Christine
			.row
				.col-md-3.red
				.col-md-9.peoplered.block
					Thorsten
					Melanie
					Christine
		.col-md-8.body1
			%h3.heading To Do
			%table.table.table-striped
				.table-responsive
					%thead
						%tr
							%th Title
							%th Desctiption
							%th Status
							%th Due Date
							%th Asignees
							%th
							%th
					%tbody
						- @todos.each do |todo|
							%tr
								%td= todo.title
								%td= todo.description
								%td= todo.status
								%td= todo.due_date
								%td= todo.image
								%td= link_to "Edit", edit_todo_path(todo)
								%td= link_to "Delete", todo , method: :delete, data: { confirm: 'Are you sure?' }
			%div.new= link_to "New To Do", new_todo_path
	.row.main2
		- @categories.each do |category|
			.col-md-4.posts
				%h3.heading= category.name
				- category.posts.each do |post|
					.col-md-6
						%h4= post.title
						%p= post.body
						= link_to 'Show', category_post_path(category, post)
						= link_to 'Edit', edit_category_post_path(category, post)
						= link_to 'Destroy', category_post_path(category, post), method: :delete, data: { confirm: 'Are you sure?' }
				%div.new= link_to "New Post", new_category_post_path(category)

